<!-- Login Form -->
<h2>Login</h2>
<%= form_tag create_user_path do %>
  <%= label_tag :first_name, 'Username' %>
  <%= text_field_tag :first_name, nil, required: true %>

  <%= label_tag :last_name, 'Password' %>
  <%= password_field_tag :last_name, nil, required: true %>

  <%= submit_tag 'Login' %>
<% end %>
