<h1>Visits</h1>

<% @visits.each do |visit| %>
  <div>
    <h3><%= visit.name %></h3>
    <p><%= visit.address %></p>
    <p>Latitude: <%= visit.latitude %></p>
    <p>Longitude: <%= visit.longitude %></p>
  </div>

  <h5>Comments</h5>
  <% visit.comments.each do |comment| %>
    <p><%= comment.content %></p>
  <% end %>


  <h5>Ratings</h5>
  <% visit.categories.each do |category| %>
    <h3><%= category.name %></h3>
    <% rating = visit.ratings.find_by(category_id: category.id) %>
    <% if rating %>
      <p>Rating: <%= rating.value %>/10</p>
    <% else %>
      <p>No rating yet</p>
    <% end %>
  <% end %>

  <h5>Images</h5>
  <% visit.images.each do |image| %>
    <%= image_tag(image.file) %>
  <% end %>
<% end %>

<%= link_to 'Add a New Visit', new_visit_path %>
